<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HSOEntities" connectionString="data source=LAPTOP-AC2MH2TQ\THELMOD;initial catalog=HSO;user id=sa;password=mduy23042005;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="HSOEntities" connectionString="metadata=res://*/Assets.Scripts.Models.HSOEntities.csdl|res://*/Assets.Scripts.Models.HSOEntities.ssdl|res://*/Assets.Scripts.Models.HSOEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-AC2MH2TQ\THELMOD;initial catalog=HSO;user id=sa;password=mduy23042005;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>